# Node
node_modules/

# Environment variables
env/

# Uploads
./uploads
view/uploads/

# Datasets
dataset/
data/
Waste Classification Dataset/

# Python cache
__pycache__/
*.pyc

# Model files
waste_model.h5

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
.vscode/
.zenflow/
.zencoder/


.package.json
.package-lock.json
.env
./view/uploads