<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Official Login | Bin It Right</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="login.css" />
</head>
<body>

  <header>
    <div class="nav-container">
      <div class="logo">Bin It Right ♻</div>
      <nav>
        <ul class="nav-links">
          <li><a href="home.html">Home</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="user.html">User</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="login-container">
    <div class="login-box">
      <h2>Official Login</h2>
      <form>
        <label for="username">Official ID </label>
        <input type="text" id="username" name="username" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />

        <button type="submit">Login</button>
      </form>
    </div>
  </div>

</body>
</html>